<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/header1.ejs') %>
    <title>Submit Student's Name</title>
</head>
<body>
    <%- include('partials/adminnav.ejs') %>
    <div class="container">
        <h2>Add a student for free trial</h2>
        <form method="POST">
            <label for="id">MP ID</label>
            <input type="text" id="id" placeholder ="Enter MP ID" name ="id">
            <label for="name">MP Name</label>
            <input type="text" id="name" placeholder="Enter MP's name" name="name">
            <label for="party"> Political Party</label>
            <input type="text" id="party" placeholder="Enter party name" name="party">
            <button type="submit"> Submit</button>
        </form>
    </div>
</body>
</html>