<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Apply for Visa</title>
  </head>
  <body>
    <main>
      <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/header1.ejs') %>
    <title>Visa Application</title>

</head>
<body>
    <%- include('partials/navbar2.ejs') %>
    <div class="container mt-5">	
      <div class="heading2">
        <h1>Visa Application</h1>			
      </div>
      <div id="book-now">									
        <a class="btn" href="/login">
            <span>New Booking</span>
        </a>									
      </div>
    </div>  
    </div>
    </main>
  </body>
</html><!-- apply for a visa when you login to your account-->