<!--- Seems to work like HTML-->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header1.ejs') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auckland</title>
</head>
<body>
    <%- include('partials/navbar1.ejs') %>
    <h4>Auckland</h4>
    <p>
        Auckland has a population of more than 1 million
    </p>
    <p>
        Thousads of students have graduated from 
        <a href="http://futureskills.co.nz">Future Skills Academy</a> which has campuses
        in Auckland CBD, Manukau, Royal Oak and Takapuna.
    </p>
</body>
</html>