<!--- Seems to work like HTML-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auckland</title>
</head>
<body>
    <h4 style= "color:lime"; font-size:xx-large;">Auckland</h4>
    <p>
        Auckland has a population of more than 1 million
    </p>
</body>
</html>