<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/header1.ejs') %>
    <title>Beaches</title>
</head>
<body>
    <%- include('partials/navbar1.ejs') %>
    <div class="container">
        <h2>Beaches</h2>
        <img class="img2" src="/public/images/orewa.jpg" alt="Orewa Beach">
        <p>Orewa Beach is beautiful...</p>
        <p style= "color:#23086f">
            Lorem ipsum dolor ipsum dolor ipsum dolor ipsum dolor ipsum dolor ipsum dolor
            ipsum dolor ipsum dolor ipsum dolor ipsum dolor ipsum dolor ipsum dolor ipsum dolor
            ipsum dolor ipsum dolor ipsum dolor
        </p>
    </div>
</body>
</html>