<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include('partials/header1.ejs') %>
        <title>Group Classes</title>
    </head>
    <body>
    <%- include('partials/navbar1.ejs') %>
        <div class="container mt-5 sessions">
            <div class="row">
                <div class="col-sm-12 mt-5 section">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="public/images/nakmuay.jpg" class="responsive-img">
                            </div>
                            <div class="col-sm-8">
                                <h1 class="heading-color">Group Classes</h1>
                                <p> Learning objectives are based upon the needs and abilities of the participant and shall be decided upon with the instructor. 
                                Participant may choose to include one additional student of a similar level.</p>
                                <h4 class="heading-text">Lorem ipsum dolor ipsum?Lorem ipsum!</h4>
                                <p>Lorem ipsum dolor ipsum?Lorem ipsum!
                                    Lorem ipsum dolor ipsum?Lorem ipsum!
                                    Lorem ipsum dolor ipsum?Lorem ipsum!
                                    Lorem ipsum dolor ipsum?Lorem ipsum!
                                    Lorem ipsum dolor ipsum?Lorem ipsum!
                                    Lorem ipsum dolor ipsum?Lorem ipsum!
                                    Lorem ipsum dolor ipsum?Lorem ipsum!
                                    Lorem ipsum dolor ipsum?Lorem ipsum!
                                </p>
                                <div id="book-now">									
                                    <a class="btn" href="login">
                                        <span>Register</span>
                                    </a>									
                                </div>
                            </div>
                        </div>
                    </div>
                </div>							
            </div>
        </div>
    </body>
<br>
<%- include('partials/footer.ejs') %>
</html>
