<!--- Seems to work like HTML-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/header1.ejs') %>
<!---     <style>
            h4 {
                color:blue;
            }
            h2{
                color:tomato;
            }
        </style> --->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>New Zealand Regions</title>
    </head>
    <body>
        <%- include('partials/navbar1.ejs') %>
        <h1>This is the home page </h1>
        <p>New Zealand is a beautiful country</p>
        <h1> New Zealand</h1>
        <h2> South Island</h2>
        <h4>Christchurch</h4>
        <h4>Dunedin</h4>
        <h2>North Island</h2>
        <a href="auckland">Auckland City</a>
        <h4>Auckland</h4>
        <h4>Wellington</h4>
    </body>
</html>
