<!--- Seems to work like HTML-->

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h4 {
            color:blue;
        }
        h2{
            color:tomato;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Zealand Regions</title>
</head>
<body>
    <h1>This is my home page </h1>
    <p>New Zealand is a beautiful country</p>
    <h1 style="color:blue"> New Zealand</h1>
    <h2 style="color:red"> South Island</h2>
    <h4>Christchurch</h4>
    <h4>Dunedin</h4>
    <h2 style="color:red">North Island</h2>
    <h4 style= "color:lime"; font-size:xx-large;">Auckland</h4>
    <h4>Wellington</h4>
</body>
</html>
