<!DOCTYPE html>
<html lang="en">
    <head>
        <!---     <style>
            h4 {
                color:blue;
            }
            h2{
                color:tomato;
            }
        </style> --->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include('partials/header1.ejs') %>
        <title>New Zealand Regions</title>
    </head>
    <body>
        <%- include('partials/navbar1.ejs') %>
        <div class= "container">
            <h2>New Zealand</h2>
            <img class="img2" src="/public/images/bridalVeilFalls.jpg" alt="Bridal Veil Falls">
            <p>New Zealand is a beautiful country</p>
            <p><a href="auckland">Auckland</a> is the commercial hub of New Zealand</p>
            <p style ="color:#23086f">
                Lorem ipsum dolor
                Lorem ipsum dolor
                Lorem ipsum dolor
                Lorem ipsum dolor
                Lorem ipsum dolor
                Lorem ipsum dolor
                Lorem ipsum dolor
                Lorem ipsum dolor
                Lorem ipsum dolor
                Lorem ipsum dolor
            </p>
            </p>
        </div>
    </body>
</html>
