<!--Information Applying for a Visa-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/header1.ejs') %>
    <title>New 90-Day Muay Thai Visa</title>
</head>
<body>
    <%- include('partials/navbar1.ejs') %>
    <div class="container mt-5 sessions">
        <div class="row">
            <div class="col-sm-12 mt-5 section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="public/images/nakmuay.jpg" class="responsive-img">
                        </div>
                        <div class="col-sm-8">
                            <h2>New 90-Day Muay Thai Visa</h2>
                            <p> Thailand has announced a unique visa scheme catering specifically to foreigners seeking Muay Thai training within the country.</p>
                            <p> This initiative allows martial arts enthusiasts to extend their stay from the standard 60 days to an extended period of 90 days.</p>        
                            <p> The announcement follows the establishment of the National Soft Power Strategy Committee, focusing on elevating Thailand's influence in various sectors.</p>
                            <p> The committee's overarching goal is to enhance Thailand's soft power across multiple areas. Notably, traditional Thai boxing, Muay Thai, has emerged as a key focal point within this strategy.</p>
                            <p>
                                Beyond extending the duration of stay for tourists, the government wants to enhance the quality of Muay Thai training and the proficiency of trainers. To achieve this, The Department of Skill Development has been asked to conduct specialized training sessions for Muay Thai trainers, and issue certificates for those who complete the training.
                                Thai trainers with these credentials will be considered to have the necessary expertise to train tourists in the sport, thereby elevating Muay Thai on the global stage and providing economic opportunities for Thai trainers.
                                An estimated 60,000 to 70,000 foreigners annually visit Thailand specifically for Muay Thai training, with many international participants engaging in Muay Thai competitions held in the country. The visa will make it easier for trainees to stay longer and access reputable trainers and facilities.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>
    
</body>
</html>