h1{
    color:purple;
}

h2 {
    color:green;
    font-size: medium;
}

h4 {
    color:purple;
}

p {
    color:#000000;
}

.img2 {
    float:right;
    width: 600px;
    height: 600px;
    object-fit: cover;
}